/* Solène LEMA */ 




/*--------------------------------- Fonts ----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/*------------------------------------ Root ------------------------*/

:root{
    --blue: #0065FC;
    --clearblue:#DEEBFF;
    --grey:#F2F2F2;
    --black:#1E1E1E;
    --white:#FEFEFE;
    --dark-grey:#D1D0D0;
    --border_radius:50px;
    --box_shadow:0px 0px 10px -1px rgba(66, 68, 90, 1);
}
/*--------------------------General-------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Raleway', sans-serif;  
}
main, header{
    max-width:1400px;
    margin:auto;
}
h1{
    font-size:22px;
}
h2{
   font-size:18px;
}
h3{
    font-size:15px;
}
.section{
    margin:0 20px;
}
.card_radius{
    border-radius:20px;
}
/*  ---------------------------- header ----------------------------*/ 
nav{
    display:flex;
    justify-content:space-between;
    margin:40px 0 0 0;
    align-items:center;
}

.items_nav{
    display:flex;
}
nav li{
    margin-left:30px;
    list-style-type: none;
    position:relative;
    padding:0 20px;
}
nav li a{
    color:var(--black);
    text-decoration:none;
    transition: all 0.5s ease-in-out;
}
nav li a:hover{
    color:var(--blue);  
}
nav li a:hover::after{
    content:"";
    background-color:var(--blue);
    width:100%;
    height:2px;
    position:absolute;
    bottom:73px;
    left:0;
    pointer-events: none;
}
/*---------------------------header search--------------------*/
.search{
    padding-top:30px;
}
.title_search h1{
    font-family:'Raleway', sans-serif;
    font-size:22px;
}
.text_search h2{
  font-weight:300;
  font-size:16px;
}
.champs_search{
    padding-top:30px;
    display:flex;
    align-items:center;
    height:80px;
}

.icon_champs_search{
    background-color:var(--grey);
    padding:0 25px;
    height:100%;
    position:relative;
    border-radius:15px 0 0 15px;
}
.icon_champs_search i{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.btn_champs_search{
    display:flex;
    height:100%;
    background-color:var(--blue);
    color:var(--white);
    border-radius: 0 15px 15px 0;
    align-items:center;
    padding:0 15px;
    font-weight:600;
}
.btn_search{
    background-color:var(--blue);
    border:none;
    color:var(--white);
    font-weight:600;
}
.btn_responsive{
    display:none;
    position:relative;
    padding:0 20px;  
}
.city_champs_search{
    border:none;
    height:100%;
}
.champ_city{
    border:1px solid var(--grey);
    height:100%;
}
/*--------------------End of header------------------*/

/*--------------------- Filter section-------------------*/
.filtres{
    padding-top:40px;
}
.filtres .title{
    margin-right:30px;
}
.filtres .title h2{
    font-size:16px;
}
.container_filter{
    display: flex;
    align-items:center;
    font-weight:600;  
}
.filter_items{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}
.items_filter{
    display: flex;
    border:2px solid var(--dark-grey);
    border-radius:var(--border_radius);
    margin-right:30px;
    position:relative;
    height:50px;
    cursor:pointer;
    align-items:center;
    background:transparent;
}
.items_filter:hover i{
    background-color:var(--blue);
    color:var(--white);
}
.icons_filter{
    border-radius:50px;
    width:48px;
    position:relative; 
    left:-5px;  
}
.items_filter i{
    color:var(--blue);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:var(--clearblue);
    border-radius:var(--border_radius);
    padding:17px;
}

.texte_filter{
    padding:20px;
    font-size:16px;
    font-weight:600;
} 


.infos{
    display: flex;
    padding-top:40px;
    align-items:center;
}
.icon_infos{
    border:1px solid var(--grey);
    padding:5px 12px;
    border-radius:var(--border_radius);
    margin-right:20px;
}
.icon_infos i{
    color:var(--blue);
}
/*-----------------------End of filter section--------------------------*/

/*---------------------hebergement section----------------------------*/
#hebergement{
    padding-top:40px;
}
#hebergement .title{
    font-size:20px;
}
.container_cards{
    display: flex;
    gap:40px;
    justify-content: space-between;
}
.card_card_left{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    padding-top:30px;
    justify-content:space-between;
}
.cards_hebergement{
    background-color:var(--grey);
    padding:50px 30px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.card_card_left .card .text_card{
    padding:10px 10px;
}
.card_card_left .card{
    width:30%;
    height:200px;
    box-shadow: var(--box_shadow);
    padding:5px;
    cursor:pointer;
}
.card_card_left .card a{
    text-decoration:none;
    color:var(--black);
}
.card_card_left .card_photos{
    width:100%;
    border-radius:20px 20px 0 0;
}
.card_card_left .img_card{
    height:65%; 
}
.cards_hebergement .card_photos{
    height:100%;
    width:100%;
    object-fit: cover;
}
.stars_card{
    color:var(--blue);
}
.colored{
    color:grey;
}
.cards_hebergement .title h3{
    font-size:22px;
}
.cards_hebergement .title_card{
    font-weight:600;        /*dupplication */
}
.card_card_left .para_card{
    font-size:15px;
    padding-top:4px;
}
.card_card_left .stars_card{
    font-size:12px;
    padding-top:4px;
}
.cards_hebergement .show_more{
    padding-top:50px;
    font-weight:600;
    font-size:15px;
}
.cards_hebergement .show_more a{
    text-decoration:none;
    color:var(--black);
}
/*-------------------------popular cards section-------------------------*/
.popular_cards{
    background-color:var(--grey);
    padding:35px 15px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
}
.popular_cards .title{
    display: flex;
    justify-content:space-between;
}
.popular_cards .title h2{
    font-weight:600;
    font-size:20px;
}
.stars_title i{
    font-size:20px;
}
.popular_c{
    padding-top:45px;
    display:flex;
    flex-direction:column;
    gap:35px;
}
.popular_cards .card{
    width:350px;
    display:flex;
    height:150px; /*150px*/
    background-color:var(--white);
    box-shadow: var(--box_shadow);
}
.popular_cards .card a{
    text-decoration:none;
    color:var(--black);
    display:flex;
}
.popular_cards .card .img_card{
    width:40%;
    padding:5px;
}
.popular_cards .card .card_photos{
    height:100%;
    object-fit:cover;
    width:100%;
    border-radius:20px 0px 0px 20px;
}
.popular_cards .card .text_card{
    width:60%;
    padding:20px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
.popular_cards .card .title_card{
    font-weight:600;
    font-size:15px;
}
.popular_cards .card .stars_card{
    font-size:12px;
}
.popular_cards .card .para_card{
    font-size:14px;
    padding-top:10px;
}
/*----------------------------------End of popular card---------------------------------------*/

/*-----------------------------------Activites section-------------------------------------------*/
#activites{
    padding:30px 30px 0 30px;
}
#activites .cards_activity{
    display:flex;
    justify-content:space-between;
    gap:20px;
    padding-top:30px;   
}
#activites .cards_activity .cards{
    width:25%;
    height:500px; 
    display:flex;
    flex-direction: column;
    gap:45px;
    justify-content: space-between;     
}
.card_row, .card_column{
    width:100%;
    box-shadow: var(--box_shadow);
    height:100%;    
}
.card_column{
    height:45%;
}
#activites .cards a{
    text-decoration:none;
    color:var(--black);
}
#activites .cards  .card_row .img{
    height:90%;
}
#activites .cards  .card_column .img{
    height:80%;
}
#activites .cards_activity .img .photo_activity{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:20px 20px 0 0;
}
#activites .card_column .title{
    padding:15px;
    text-align:left
}
#activites .card_row .title{
    padding:15px 10px;
}
/*----------------------------------------End of activite section-------------------------------------*/

/*---------------------------------------Footer-------------------------------------------------------*/
footer{
    margin-top:100px;
    background-color:var(--grey);
}
.footer{
    display: flex;
    padding:50px 30px;
    justify-content: space-between;
    background-color:var(--grey);
    padding-right:350px;
    flex-wrap:wrap;
    gap:40px;
    margin:auto;
    max-width:1400px;
}
.items_footer{
    padding-top:10px;
}
.items_footer  {
    line-height: 30px;
}
.items_footer li{
    list-style-type: none;
}
.items_footer  a{
    text-decoration:none;
    color:var(--black);  
    text-decoration:none;
}
.items_footer  a:hover{
    text-decoration:underline;
}
/*--------------------------------------End of footer-------------------------------------------------*/

/*--------------------------------------Responsive design desktop-------------------------------------*/
@media screen and (max-width:1330px){
   
   /*---------hebergement section--------*/
   .container_cards{
    flex-direction:column-reverse;
    }
   .popular_c{
       display:flex;
       justify-content:space-between;
       flex-direction:row;
   }
    .cards_hebergement{
       padding:30px 30px 0 30px;
       background:transparent;
    }
    .show_more{
        padding-bottom:20px;
    }
    .cards{
        margin:0;
    }
    .popular_cards{
        padding:35px 25px;
        border-radius:0;
    }
   
}
@media screen and (max-width:992px){
    /*-------hebergement section------*/
    .popular_cards .card .para_card{
        font-size:12px;
    }
    /*--------activity section---------*/
    #activites .cards_activity{
        flex-direction:column;
      }
      .card_row, .card_column{
          height:250px;
      }
      #activites .cards_activity .cards{
          height:auto;
          width:100%;
      }
      #activites .cards .card_row .img {
          height:80%;
      }
  }
    /*----------footer-----------*/
    .footer{
        padding-right:20px;
    }
@media screen and (max-width:872px){
    /*------hebergement section--------*/
    .card_card_left .card {
        width:100%;
    }
    .popular_cards .card {
        width:100%;
    }
    .popular_c{
        flex-direction:column;
    }
    .popular_cards .card {
        width:100%;
    }
    .popular_cards{
        padding:35px 30px;
    }
    
}
/*----------------------------------End of desktop-----------------------------------*/


