
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --blue: #0065FC;
    --clearblue:#DEEBFF;
    --grey:#F2F2F2;
    --black:#1E1E1E;
    --white:#FEFEFE;
    --dark-grey:#D1D0D0;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Raleway', sans-serif;  
}
main, header{
    max-width:1280px;
    margin:auto;
}


nav{
    display:flex;
    justify-content:space-between;
    margin:40px 20px 0 20px;
    align-items:center;
}
nav ul{
    display:flex;
}
nav li{
    margin-left:30px;
    list-style-type: none;
    position:relative;
    padding:0 20px;
}
nav li a{
    color:var(--black);
    text-decoration:none;
    transition: all 0.5s ease-in-out;
}
nav li a:hover{
    color:var(--blue);
   
}
nav li a:hover::after{
    content:"";
    background-color:var(--blue);
    width:100%;
    height:2px;
    position:absolute;
    bottom:50px;
    left:0;
    pointer-events: none;
}
.search{
    padding-top:30px;
    margin:0 20px;
}
.title_search h1{
    font-family:'Raleway', sans-serif;
    font-size:22px;
}
.text_search h2{
  font-weight:300;
  font-size:16px;
}

.champs_search{
    padding-top:30px
}

.champ{
    display:flex;
    align-items:center;
    height:50px;
}
.icon_champs_search{
    background-color:var(--grey);
    padding:0 25px;
    height:100%;
    position:relative;
    border-radius:15px 0 0 15px;
}
.icon_champs_search i{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.btn_champs_search{
    display:flex;
    height:100%;
    background-color:var(--blue);
    color:var(--white);
    border-radius: 0 15px 15px 0;
    align-items:center;
    padding:0 15px;
    font-weight:600;
}
.btn_responsive{
    display:none;
    position:relative;
    padding:0 20px;  
}
.city_champs_search{
    border:none;
    height:100%;
}
.champ_city{
    border:1px solid var(--grey);
    height:100%;
}
.filtres{
    padding-top:40px;
    margin:0 20px;
}
.filtres .title{
    margin-right:30px;
}
.container_filter{
    display: flex;
    align-items:center;
    font-weight:600;  
}
.filter_items{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}
.items_filter{
    display: flex;
    border:2px solid var(--dark-grey);
    border-radius:50px;
    margin-right:30px;
    position:relative;
    height:50px;
    cursor:pointer;
    align-items:center;
}
.icons_filter{
    border-radius:50px;
    width:48px;
    position:relative; 
    left:-5px;  
}
.items_filter i{
    color:var(--blue);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:var(--clearblue);
    border-radius:50px;
    padding:17px;
}
.texte_filter p{
    padding: 0 6px;
}
.texte_filter{
    padding:10px;
    font-size:16px;
} 
.items_filter i:hover{
    background-color:var(--blue);
    color:var(--white);
}

.infos{
    display: flex;
    padding-top:40px;
    align-items:center;
}
.icon_infos{
    border:1px solid var(--grey);
    padding:5px 12px;
    border-radius:50px;
    margin-right:20px;
}
.icon_infos i{
    color:var(--blue);
}
#Hébergement{
    padding-top:40px;
    margin: 0 20px;
}
.container_cards{
    display: flex;
    gap:40px;
    justify-content: space-between;
}
.card_card_left{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    padding-top:30px;
    justify-content: space-around;
}
.cards_hebergement{
    background-color:var(--grey);
    border-radius:20px;
    padding:30px 30px 0 30px;
}
.card_card_left .card .text_card{
    padding:10px 10px;
}
.card_card_left .card{
    width:30%;
    height:200px;
    box-shadow: 0px 0px 22px 0px rgba(181, 181, 181, 1);
    border-radius:20px;
    padding:5px;
    transition:all 0.3s ease-in-out;
    cursor:pointer;
}
.card_card_left .card a{
    text-decoration:none;
    color:var(--black);
}
.card_card_left .card_photos{
    width:100%;
    border-radius:20px 20px 0 0;
}
.card_card_left .img_card{
    height:65%; 
}
.cards_hebergement .card_photos{
    height:100%;
    width:100%;
    object-fit: cover;
}
.cards_hebergement .card:hover{
    transform:scale(1.01);
}

.stars_card{
    color:var(--blue);
}
.colored{
    color:grey;
}
.cards_hebergement .title h3{
    font-size:22px;
}
.cards_hebergement .title_card{
    font-weight:600;
}
.card_card_left .para_card{
    font-size:15px;
    padding-top:4px;
}
.card_card_left .stars_card{
    font-size:12px;
    padding-top:4px;
}
.cards_hebergement .show_more{
    padding-top:50px;
    font-weight:600;
    font-size:19px;
}


.popular_cards{
    background-color:var(--grey);
    border-radius:20px;
    padding:35px 15px;
}
.popular_cards .title{
    display: flex;
    justify-content:space-between;
}
.popular_cards .title .h1{
    font-weight:600;
    font-size:23px;
}
.popular_cards i{
    font-size:20px;
}
.popular_c{
    padding-top:30px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
.popular_cards .card{
    width:350px;
    display:flex;
    height:170px;
    background-color:var(--white);
    box-shadow: 0px 0px 22px 0px rgba(181, 181, 181, 1);
    border-radius:20px;
    transition:all 0.3s ease-in-out;
}
.popular_cards .card:hover{
    transform:scale(1.0);
}
.popular_cards .card a{
    text-decoration:none;
    color:var(--black);
    display:flex;
}

.popular_cards .card .img_card{
    width:calc(100%/2);
    padding:5px;
}
.popular_cards .card .card_photos{
    height:100%;
    object-fit:cover;
    width:100%;
    border-radius:20px 0px 0px 20px;
}
.popular_cards .card .text_card{
    padding:5px;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}
.popular_cards .card .title_card{
    font-weight:600;
    font-size:15px;
}
.popular_cards .card .stars_card{
    font-size:12px;
}
.popular_cards .card .para_card{
    font-size:14px;
}




#Activités{
    padding-top:100px;
    margin:0 30px 0 30px;
}
#Activités .cards_activity{
    display:flex;
    justify-content:space-between;
    gap:20px;
    padding-top:30px;   
}
#Activités .cards_activity .cards{
    width:25%;
    border-radius:20px;
    height:500px; 
    display:flex;
    flex-direction: column;
    gap:45px;
      
}
#Activités .card_row:hover,#Activités .card_column:hover{
    transform:scale(1.01);
}
.card_row, .card_column{
    width:100%;
    border-radius:20px;
    box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    height:100%; 
    transition:all 0.3s ease-in-out;    
}
.card_column{
    height:45%;
}
#Activités .cards a{
    text-decoration:none;
    color:var(--black);
}

#Activités .cards  .card_row .img{
    height:90%;
}
#Activités .cards  .card_column .img{
    height:80%;
}


#Activités .cards_activity .img .photo_activity{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:20px 20px 0 0;
}
#Activités .card_column .title{
    padding:15px;
    text-align:left
}
#Activités .card_row .title{
    padding:10px 10px;
}
footer{
    margin-top:100px;
    background-color:var(--grey);
}
.footer{
    display: flex;
    padding:50px 30px;
    justify-content: space-between;
    background-color:var(--grey);
    padding-right:350px;
    flex-wrap:wrap;
    gap:40px;
    margin:auto;
    max-width:1280px;
}
.items_footer{
    padding-top:10px;
}
.items_footer .items {
    line-height: 30px;
}
.items_footer .items a{
    text-decoration:none;
    color:var(--black);  
}

.items_footer .items a:hover{
    text-decoration:underline;
}



@media screen and (max-width:1330px){
   .container_cards{
       flex-direction:column-reverse;
   }
   .popular_c{
       display:flex;
       justify-content:space-between;
       flex-direction:row;
   }
   
    .cards_hebergement{
       padding:30px 30px 0 30px;
    }
    .show_more{
        padding-bottom:20px;
    }
}

@media screen and (max-width:992px){
    .popular_cards .card .para_card{
        font-size:12px;
    }
    .popular_cards .card .text_card {
        padding:3px;
        
    }
   
    .footer{
        padding-right:20px;
    }
    #Activités .cards_activity{
      flex-direction:column;
    }
    .card_row, .card_column{
        height:250px;
    }
    #Activités .cards_activity .cards{
        height:auto;
        width:100%;
    }
    #Activités .cards .card_row .img {
        height:80%;
    }
}
@media screen and (max-width:872px){
    .card_card_left .card {
        width:100%;
    }
    .cpopular_cards .card {
        width:100%;
    }
    .popular_c{
        flex-direction:column;
    }
    .popular_cards .card {
        width:100%;
    }
}

@media screen and (max-width:768px){
    nav{
        flex-direction:column;
        margin:40px 0 0 0;
    }
    .card_card_left .card{
        width:100%;
    }
    .popular_cards .card {
        width:100%;
    }
    .cards_hebergement{
        background-color:transparent;
        padding:30px 50px;
    }
    .popular_cards{
        padding:35px 50px;
    }
    .container_filter{
        display:block;
    }
    .filter_items{
        padding-top:20px;
    }
    .footer{
        flex-direction:column;
        padding:50px;
    }
    .popular_c{
        flex-direction:column;
    }
    nav li{
        margin-left:0;
    }
    .items_nav li{
        position:relative;
        padding-bottom:10px;
    }
    .items_nav a::after{
        content:"";
        background-color:var(--grey);
        width:100%;
        height:3px;
        position:absolute;
        bottom:0;
        left:0;
    }
    nav li a:hover::after{
        content:"";
        background-color:var(--blue);
        width:100%;
        height:3px;
        position:absolute;
        bottom:0;
        left:0;
        pointer-events: none;
    }
    .items_nav{
        padding-top:30px;
    }
    .items_nav a::after:hover{
        background-color:var(--blue);
    }
   
    .champ{
        position:relative;
    }
   
    #Hébergement{
        margin:0;
    }
    #Activités{
        margin:0 50px;
    }
    .btn_responsive{
        display:block;
        padding:10px;
        position:relative;
        padding:0 20px;
        border-radius: 0 15px 15px 0;
    }
    .btn_responsive i {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }

    .btn_search{
        display:none;
    }
}


