

/*------------------------------------Tablet responsive--------------------------------*/
@media screen and (max-width:768px){

    /* --------------------------Header-------------------*/
    nav{
        flex-direction:column;
        margin:40px 0 0 0;
    }
    nav ul{
        width:100%;
        justify-content:space-around;
    }
    nav li{
        margin-left:0;
    }
    .items_nav li{
        position:relative;
        padding-bottom:10px;
        width:50%;
        text-align:center;
    }
    nav li a:hover::after{
        content:"";
        background-color:var(--blue);
        width:100%;
        height:5px;
        position:absolute;
        bottom:-43%;
        z-index:99;
        pointer-events: none;
    }
    .items_nav{
        padding-top:30px;
        width:100%;
        display:flex;
        justify-content:center;
        position:relative;
    }
    .items_nav::after{
        content:"";
        background-color:var(--grey);
        height:5px;
        width:100%;
        position:absolute;
        bottom:-20%;
        pointer-events:none;
    }
    


    .champ{
        position:relative;
    }
    .btn_responsive{
        display:block;
        padding:10px;
        position:relative;
        padding:0 20px;
        border-radius: 0 15px 15px 0;
        border:none;
        color:var(--white);
    }
    .btn_responsive i {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .btn_search{
        display:none;
    }
    /*---------------------End Of Header-----------------*/

    /*------------------------Filter section--------------------*/
    .container_filter{
        display:block;
    }
    .filter_items{
        padding-top:20px;
    }
    /*---------------------------End of filter section------------------*/
    
    /*----------------------Hebergement section----------------*/
    #hebergement{
        margin:0;
    }
    .card_card_left .card{
        width:100%;
    }
    .cards_hebergement{
        background-color:transparent;
        padding:30px 30px;
    }
    /*------------------------End of hebergement section--------------*/

    /*-------------------------Activity section-----------------------*/
    #activites{
        margin:0 30px;
    }
    /*------------------------End of activity section------------------*/

    /*------------------------Footer--------------------------*/
    .footer{
        flex-direction:column;
        padding:50px;
    }
    /*-------------------End of footer--------------------*/
}
